= semantic_form_for @event do |f|
  = f.inputs do
    = f.input :title
    = f.input :description
    = f.input :selected_option_id, :as => :hidden, :value => nil

  %h2 Options
  = f.semantic_fields_for :options do |builder|
    = render "option_fields", :f => builder
  .links
    = link_to_add_fields "Add", f, :options
  = f.actions do
    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link, :label => "Go back"
