= semantic_form_for @event do |f|
  = f.inputs do
    = f.input :title
    = f.input :description
    = f.input :selected_option, :label => "Selected date"
  = f.inputs :for => :options do |option, i|
    = option.input :datetime
  = f.actions do
    = f.action :submit, :as => :button
