-# TODO: Make this form work as functionally as the version pre-twitter-bootstrap!
= form_for @event, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field span7'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area span7'
  = fields_for :options do |option_fields|
    = render "option_fields", :f => option_fields
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn'
