%header
  %h1= @event.title
  %h2= @event.selected_option

%section
  = @event.description

%p
  %b Options:
  %ol
    - @event.options.each do |o|
      %li= o.to_s

.formtastic
  %fieldset.actions
    = link_to 'Edit', edit_event_path(@event), :class => "edit-btn"
    = link_to 'Go back', events_path
