%p
  %b Title:
  = @event.title
%p
  %b Description:
  = @event.description
%p
  %b Date and time:
  = @event.selected_option

%p
  %b Options:
  %ol
    - @event.options.each do |o|
      %li= o.datetime.to_s

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
