%header
  %h1= @event.title
  - if @event.selected_option
    %ul.details
      %li.date
        %span.ui-icon.ui-icon-calendar
        = @event.selected_option.datetime.strftime "%A %-d %B %Y"
      %li.time
        %span.ui-icon.ui-icon-clock
        = @event.selected_option.datetime.strftime "%l:%M %p"

%section.markdown
  = markdown(@event.description)

%p
  %b Options:
  %ol
    - @event.options.each do |o|
      %li= o.to_s

.formtastic
  %fieldset.actions
    = link_to 'Edit', edit_event_path(@event), :class => "edit-btn"
    = link_to 'Go back', events_path
